
body {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9; /* Fundo CINZA */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* Estilizando o link 'Voltar' */
.voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;  
    color: white;  
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; 
    border-radius: 5px;  
    transition: background-color 0.3s ease;  
}

/* Efeito ao passar o mouse sobre o link */
.voltar:hover {
    background-color: #45a049; 
    color: #ffffff; 
}


.voltar:focus {
    outline: none;  
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.6);  
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/*titulo amarelo */
.h1, h2 {
    text-align: center;
    color: #9f8b39;
    font-size: 36px; 
    margin-bottom: 20px;
}

/*todos os textos */
p {
    font-size: 20px; 
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
}

/*section*/
section {
    margin-bottom: 40px;
}

/*blocos de texto e img*/
.flex-container {
    display: flex;
    align-items: center;
    gap: 20px;           
    margin-bottom: 40px; 
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

/* caixa de texto */
.flex-container .texto {
    flex: 1;
    font-size: 18px;
    color: #333;
}

/* imagens */
.flex-container .img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);

    transition: transform 0.3s ease;
}

/* responsivo*/
@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;  
        text-align: center;
    }

    .flex-container .img {
        width: 80%;
    }

    .h1, h2 {
        font-size: 30px; 
    }

    p {
        font-size: 18px;
    }
}

/* rodape*/
.footer_section {
    background-color: #333;
    padding: 30px;
    color: white;
    text-align: center;
}

.footer__titulo {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-item {
    cursor: pointer;
    margin: 6px 0;
}

.footer-item:hover {
    color: rgb(180,180,180);
}
