body {
  background-color: rgba(0, 0, 0, 0.37);
}
header {
  font-family: sans-serif;
  color: white;
  position: relative;
  width: 100%;
  padding: 40px;
}
.nav_logo {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 5px;
  font-weight: bold;
}

.nav__links {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  padding: 50;
  margin: 20px;
}
.nav__login {
  position: absolute;
  right: 215px;
  font-size: 20px;
  top: 28px;
  margin: 19px;
}
.nav_signup {
  position: absolute;
  right: 80px;
  font-size: 20px;
  top: 28px;
  margin: 19px;
}
.area__titulo {
  font-family: sans-serif;
  text-shadow: 4px 2px 4px black;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
.area-principal {
  display: flex;
  justify-content: left;
  align-items: right;
  height: 80vh;
  color: orange;
  text-align: left;
  padding: 200px;
  flex-direction: column-reverse;
}
.area_subtitulo {
  font-size: 25px;
  color: white;
}
.area__imagem-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 80vh;
  overflow: hidden;
}
.area_botoes {
  margin: top 100px;
  color: white;
  height: 2px;
  text-decoration: white;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
}
.area__btn--principal {
  font-family: Arial;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  color: black;
  color: white;
  background-color: rgb(0, 0, 0);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.area__btn--secundario {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.barbers_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-style: oblique;
}

.barbeiros__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.barbeiro-card__imagem {
  width: 70%;

  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  gap: 10px;
}

.barbeiros__grid {
  border: 2px solid black; /* Adiciona uma borda preta de 2px */
  padding: 10px; /* Adiciona um espaçamento interno para que o conteúdo não fique colado na borda */
  background-color: rgba(0, 0, 0, 0.483);
}
.barbeiro-card__name {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: white;
}
.barbeiro-card__shop {
  font-size: 25px;
  margin: 5px 0;
  color: white;
}
.barbeiro-card__imagem {
  font-size: 25px;
  margin: 5px 0;
  color: white;
}
.barbeiro-card__localizacao {
  font-size: 25px;
  color: white;
}
.barbeiro-card_status {
  font-size: 20px;
  color: rgb(154, 193, 223);
  font-weight: bold;
}
.barbeiro-card__status {
  font-size: 20px;
  color: rgb(154, 193, 223);
  font-weight: bold;
}
.barbeiro-card__status {
  font-size: 20px;
  color: rgb(154, 193, 223);
  font-weight: bold;
}
.passo_titulo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  color: rgb(22, 21, 20);
  font-style: oblique;
  text-align: center;
}
.passo__item {
  font-size: 20px;
  color: rgb(22, 21, 20);
  margin-bottom: 10px;
  text-align: center;
}
.como-criar-portfolio {
  font-size: 20px;
  color: rgb(22, 21, 20);
  text-align: center;
}

.passo__item1 {
  font-size: 20px;
  color: rgb(22, 21, 20);
  margin-bottom: 10px;
  text-align: center;
}
.passo__item2 {
  font-size: 20px;
  color: rgb(22, 21, 20);
  margin-bottom: 10px;
  text-align: center;
}
footer {
  color: white;
  padding: 50px;
  font: 16px arial, sans-serif;
  text-align: center;
}

.incentivo-cadastro {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  color: black;
}
.header,
.area-principal {
  background-image: url("barber.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
